.title {
    opacity: 1;
    color: rgba(50, 49, 48, 1);
    font-family: "SegoeUI";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}

.description {
    opacity: 1;
    color: rgba(96, 94, 92, 1);
    font-family: "SegoeUI";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}

.middelitem {
    position: relative;
    padding: 10px;
    display: flex;
    width: 332px;
    height: 81px;
    flex-direction: row;
    background-color: white;
    border: 1px, #F3F2F1 solid;
}

.icon {
    position: relative;

    margin-bottom: 44px;


}

.desc {
    position: relative;
    margin-left: 18px;
}

.sepe {
    position: relative;

}