.section-item {
    display: flex;
    align-items: center;
    width: 150px;
    /* margin-bottom: 23px; */
    color: rgba(50,49,48,1);
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    width: 213px;
    width: 100%;
}

.label{
    display: flex;
    margin-left: 24px;
    margin-right: 36px;
   
}

.section-item:nth-child(3){
    color: RGB(0, 90, 158);
    background-color: RGB(199, 224, 244);
 padding: 0;
 
}

.section-item:nth-child(1){
    margin-bottom: 27px;
}





